input {
  color: green;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(217, 217, 217, 1);
  padding-right: 40px;
}

.input-container {
  position: relative;
  min-height: 75px;
}

input::placeholder {
  color: rgba(68, 178, 111, 1);
}

input:focus {
  border: 1px solid rgba(68, 178, 111, 1);
  outline: none;
}

.eye-icon {
  position: absolute;
  top: 28%;
  right: -35px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: black;
}
