.products-container {
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.logo-image {
  height: auto;
}

.buttons-table {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
}

.add-button {
  margin-left: 10px;
}

.button-icon {
  margin-right: 5px;
}

.table-title {
  font-size: 64px;
  margin-bottom: 20px;
  color: white;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.icon {
  font-size: 18px;
  color: #030910;
  cursor: pointer;
  margin-right: 10px;
}
